<style>
    a{
        transition:  .5s ease;
    }
    a:hover{
        background-color: blueviolet;
        padding: 1.3em;
        border-radius: .5em;

    }
</style>

<nav>
    <h3 style="color: black; font-size: 2.5em;" routerLink="/" routerLinkActive="active">Meeting-App</h3>
    <div class="side">
        <!-- <a href="#"  routerLink="/login" routerLinkActive="active">login</a> -->
        <a style="font-size: 1.2em; " href="#" routerLink="/meeting" >View Meetings</a>
        <!-- <a href="">logout</a> -->
    </div>
</nav>

