 <form class="example-form"  [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
 
  <h3>Minutes for Meeting Title - {{data[0].meeting_title}}</h3>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Record</mat-label>
      <textarea  rows="5" cols="40" ngModel="{{data[0].meeting_minutes}}"  formControlName="meeting_minutes" matInput placeholder="Type minutes..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter link</mat-label>
      <input type="url" ngModel="{{data[0].file_url}}" formControlName="file_url" matInput placeholder="https" >
    </mat-form-field>
    <!-- <input formControlName="file" type="file" class="file-upload" onchange="console.log(event.target.files)"> -->

    <button   mat-raised-button color="primary">Submit</button>
  </form>
