/* You can add global styles to this file, and also import other style files */
 
html,
body {
  height: 100%;
}
body {
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
}
.side{
    display: flex;
    justify-content: space-between;
  
}
.side a{
    padding-left: 3em;
    color: white;
    text-decoration: none;
}

 
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
  width: 58em;
}